body{
    margin: 0;
    padding: 0;
}
.container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.inp{
    width: 30px;
    margin: 5px;
    border: 1px solid grey;
    outline: none;
}
.inp:focus{
    border: 2px solid blue;
}